:root {
    --light-color: #e5e6e7;
    --primary-color: #222222;
    --secondary-color: #009688;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  body {
    background-color: var(--primary-color);
    color: var(--light-color);
  }
  .column{
    flex:1 1 45%; /*takes up 45% width with flexibility*/
    padding: 20px;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  }
  .hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
      url("123.jpg");
    background-size: cover;
    background-position: center;
  }
  
  /* Style for navbar */
  .navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0px;
    /*padding top and bottom 35px and padding Left and Right 0px*/
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar ul li {
    list-style: none;
    font-weight: 550;
    font-size: 15px;
    display: inline-block;
    margin: 0px 20px;
    /*Set margin top and bottom to 0 and right and left to 20px*/
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: var(--light-color);
    text-transform: uppercase;
  }
  
  .site-title {
    color: var(--light-color);
    cursor: pointer;
  }
  
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: -10px;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
    transition: 0.5s;
  }
  
  .menu-icon {
    color: var(--light-color);
    cursor: pointer;
    display: none;
    /* hide from desktop view */
  }
  
  /* add responsive style for the menu bar */
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .navbar {
      position: relative;
    }
  
    .navbar ul {
      flex-direction: column;
      position: absolute;
      background-color: var(--secondary-color);
      line-height: 30px;
      top: 90px;
      right: 38px;
      padding: 20px;
      transition: 0.5s;
      border-radius: 5px;
    }
    .content h1 {
      font-size: 35px;
    }
    .container .row {
      flex-direction: column;
      align-items: center;
      display: flex;
      
    }
    .about-imgm,
    .about-content {
      width: 100%;
      text-align: center;
      height: auto;
    }
    .responsive-image {
      max-width: 100%;
      margin-bottom: 20px;
      margin-left: 100px;
    }
    .column{
      flex: 1 1 100%;  
    }
    
  }
  
  /* style for herp cpntent section */
  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    color: var(--light-color);
  }
  
  .content h1 {
    font-size: 50px;
    margin-top: 80px;
  }
  
  .content p {
    margin: 20px auto;
    /*set margin of 20px from top and bottom and auto from left to right*/
    font-weight: 100%;
    line-height: 35px;
  }
  
  button {
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    border-radius: 25px;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--light-color);
    cursor: pointer;
    position: relative;
  }
  
  button span {
    background-color: var(--secondary-color);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    transition: 0.5s;
  }
  button:hover span {
    width: 100%;
    transition: 0.5s;
    border: none;
  }
  
  /* style for about us section */
  .about-img {
    flex: 1;
  }
  .container .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0px;
  }
  .about-section {
    margin: 20px auto;
  }
  /* .responsive-image {
    width: 200px;
    max-width: 100%;
    height: auto;
  } */
  .about-content {
    flex: 2;
    color: var(--light-color);
  }
  /* Start of gallery  decoration */
  .heading {
    text-align: center;
    font-weight: 100%;
    font-size: 30px;
    margin: 20px auto;
    text-transform: uppercase;
    padding: 20px 0px;
    width: 100%;
  }
  .about-content h4 {
    text-align: left;
  }
  .about-content {
    margin-top: 30px;
  }
  .galleryrow h4 {
    text-align: center;
  }
  
  .rowimage {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .row-image img {
    margin: 10px;
    width: 449px;
    height: 449px;
    flex: 1;
    border-radius: 5px;
  }
  .row-image img:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
  }
  /* styling of contact us */
  .contact-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
  }
  .contact-form h2{
    text-transform:uppercase;
    margin-bottom: 30px;
    font-weight: 500;
  }
  .contact-form input,
  .contact-form select,
  .contact-form textarea{
    margin-bottom: 13px;
    padding: 10px;
    border: 1px solid var(--light-color);
    border-radius: 4px;
  }
  /* Style for projects secction */
  .project-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom:25px;
  }
  .card img{
    width: 100%;
  }
  .card{
    background-color: var(--primary-color);
    border-radius: 7px;
    width: 30%;
    
    padding: 10px;
  }
  .card h3{
    text-decoration: underline;
    font-size: 18px;
  }
  .card p{
    text-align: left;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.5;
  }
  .card:hover{
    box-shadow: 0px 8px 16px 0px rgba(237, 237, 237, 0.2);
    cursor: pointer;
  }
  /* footer */
  .footer-section{
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 20px;
  }
  .footer-content{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-right{
    display: flex;
    gap: 20px;
  }
  .footer-right .fa{
    cursor: pointer;
  }